# 베타 구하기.

In [4]:
# 베타를 구하기 위해 FinanceDataReader를 활용.
# -> 개별 주식의 베타를 구한 이후 라이브러리 패키지로 만들어 베타를 모델에 쉽게 넣을 수 있게 구현할 예정.

# E(R) = Rf + B * [E(Rm) - Rf]

# 해당 CAPM 식을 활용해 고평가 저평가 및 주식 가격에 대한 개괄을 표현할 예정.
# B가 높을수록 민감하며 B가 낮을수록 덜 민감함.

In [6]:
import pandas as pa
import FinanceDataReader as fdr
from pykrx import stock
import pandas_datareader.data as pdr
import yfinance as yf

In [14]:
df_krx = fdr.StockListing('KRX')
type(df_krx)
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2847 entries, 0 to 2846
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2847 non-null   object
 1   ISU_CD       2847 non-null   object
 2   Name         2847 non-null   object
 3   Market       2847 non-null   object
 4   Dept         2847 non-null   object
 5   Close        2847 non-null   object
 6   ChangeCode   2847 non-null   object
 7   Changes      2847 non-null   int64
 8   ChagesRatio  2847 non-null   float64
 9   Open         2847 non-null   int64
 10  High         2847 non-null   int64
 11  Low          2847 non-null   int64
 12  Volume       2847 non-null   int64
 13  Amount       2847 non-null   int64
 14  Marcap       2847 non-null   int64
 15  Stocks       2847 non-null   int64
 16  MarketId     2847 non-null   object
dtypes: float64(1), int64(8), object(8)
memory usage: 378.2+ KB

In [16]:
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,53000,2,-2000,-3.64,54600,54600,53000,37461976,2011262833399,316398475150000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,185800,2,-6800,-3.53,192500,192500,184900,3863850,725437469396,135262839417000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,427000,1,11000,2.64,418000,433500,416000,636418,272189137000,99918000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,987000,2,-20000,-1.99,1001000,1011000,981000,80965,80205309000,70248738000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,207000,2,-4000,-1.90,213000,213500,206500,908307,189994562000,43349151537000,209416191,STK

In [24]:
# GS글로벌, 2018년
df = fdr.DataReader('001250', '2024')
df.tail(10)

            Open  High   Low  Close   Volume    Change
Date
2024-10-30  3255  3295  3210   3230   703007 -0.007680
2024-10-31  3200  3225  3125   3125   865566 -0.032508
2024-11-01  3075  3145  3055   3085  1272074 -0.012800
2024-11-04  3185  3325  3115   3220  2966154  0.043760
2024-11-05  3230  3270  3205   3245   777923  0.007764
2024-11-06  3255  3300  3180   3285  1139228  0.012327
2024-11-07  3335  3450  3215   3390  3030205  0.031963
2024-11-08  3360  3445  3315   3340  1007615 -0.014749
2024-11-11  3340  3340  3185   3185  1238526 -0.046407
2024-11-12  3190  3220  3050   3120  1145724 -0.020408

In [30]:
df_kospi = fdr.DataReader('KS11', '2024')
df_kospi.tail(10)

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2024-10-30,2606.99,2613.47,2586.88,2593.79,487359045,-0.0092,2,-24.01,9067046289191,2114675137976877
2024-10-31,2575.24,2579.65,2552.36,2556.15,406613036,-0.0145,2,-37.64,10980673439062,2083807734485505
2024-11-01,2542.96,2559.30,2536.84,2542.36,319848769,-0.0054,2,-13.79,7944318405637,2072677282762738
2024-11-04,2549.04,2588.97,2542.68,2588.97,373943470,0.0183,1,46.61,8064748773264,2110215065385317
2024-11-05,2570.24,2586.73,2564.66,2576.88,310875315,-0.0047,2,-12.09,7716007774972,2100113789116178
2024-11-06,2591.90,2592.75,2544.04,2563.51,548506117,-0.0052,2,-13.37,11791887929674,2089044036625021
2024-11-07,2557.23,2579.81,2540.48,2564.63,465146173,0.0004,1,1.12,10809704016429,2089840468646244
2024-11-08,2586.70,2593.15,2553.42,2561.15,448734499,-0.0014,2,-3.48,9921212340072,2087229089933475
2024-11-11,2562.05,2562.05,2525.56,2531.66,572196827,-0.0115,2,-29.49,11290168186878,2062998743903726
2024-11-12,2527.94,2532.44,2481.53,2482.57,719295039,-0.0194,2,-49.09,12369780569169,2022644867370757